.idea
*.egg-info
.venv
venv
Scratches
__pycache__
.github/skills
pytest-report.xml
*.DS_Store
*.pip-cache
.kiro
.claude/settings.local.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
config.bat
node_modules
