.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
*.pyc

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
.terraform.lock.hcl
